*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: "微软雅黑";
	background-color: #fff;
}
.menu{
	border: 1px solid #CCCBD9;
	width: 1208px;
	position: relative;
	overflow:hidden;
	border-top: none;
}
.color_bb{
	color: #000000;
	font-weight: bold;
}
.color_b{
	color:#000;
}
.menu_mid{
	width:737px;
	height: 413px;
	display: inline-block;
	position: absolute;
	right: 232px;
}
.menu_fr{
	float: right;
}
#menu_fl{
	display: block;
}
.img_box{
	height:260px;
	width:736px;
	overflow: hidden;
}
.imgs{
	width:3000px;
	overflow: hidden;
}
.imgs li{
	float: left;
}
.img_but{
	position:absolute;
	top:105px;
	display:none;
}
.img_box:hover .img_but{
	display: block;
}
.prev{
	display: inline-block;
	height: 50px;
	width:25px;
	background:url('../img/index/foot.png') no-repeat -8px -27px;
	opacity: 0.8;
}
.next{
	display: inline-block;
	height: 50px;
	width:25px;
	background:url('../img/index/foot.png') no-repeat -63px -27px;
	opacity: 0.8;
	position:relative;
	left:680px;
}
.img_mid_bot{
	height:155px;
	width:735px;
}
.imb{
	width: 203px;
	padding: 20px;
	padding-bottom: 43px;
	float: left;
	line-height: 30px;
	border-right:1px solid #CCCBD9 ;
}
.imb:last-child{
	border: none;
}
.imb h4{
	text-align: center;
}
.imb a{
	padding:0px 6px;
}

.title{
	margin-top:30px;
	font-weight: bold;
	font-size:17px ;
}
.title ul{
	float:right;
	color: #8C8C8C;
	font-size:13px;
}
.title ul li{
	float:left;
	padding: 5px;
}
.imgs_pro{
	border-bottom: 1px solid #CCCBD9;
	display: inline-block;
	padding-bottom:20px ;
}
.img_pro{
	width: 222px;
	border: 1px solid #fff;
	padding:4px;
	float: left;
	margin-right:10px;
}
.img_pro:last-child{
	margin-right: 0px;
}
.img_pro_bot{
	width: 223px;
	
}
.img_pro:hover{
	border: 1px solid #FF4883;
}
.img_pro_bot h4{
	color: #000000;
	width:200px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.img_pro_bot h4:hover{
	color: #FF4883 ;
}
.price{
	color: #FF4883;
	font-size:25px;
}
.shopping{
	float: right;
	font-size: 13px;	
	cursor: pointer;
}
.shopping a{
	color: #FF4883;
}
.shopping img{
	vertical-align: middle;
}
.img_pro_bot p:last-child{
	margin-top:15px;
}
.aside_fl{
	display: none;
}
.fix{
	position: fixed;
	top:450px;
	left:300px;
}
.aside_fl  li{	
	height: 30px;
	width: 30px;
	padding:3px ;
	text-align: center;
}
.aside_fl  li a{
	border-bottom: 1px solid #f3f3f3;
}
.aside_fl li:last-child a{
	border: none;
}
.size_a{
	font-size: 12px;
	padding:5px 3px;
	display: none;
	color:#FF318C ;
}
.aside_fl li:hover .icon_b{
	display: none;
}
.aside_fl li:hover .size_a{
	display: block;
}
.icon_fl{
	height:30px;
	width:30px;
}
.over_hid{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
