<!--底部-->
<footer>
	<div class="foot_top text_center">
		<p class="bg_f"><span class="sorts city">热门城市</span><span class="sorts">团购分类</span></p>
		<ul class="citys">
			<li><a href="#" class="color-c">北京团购 </a></li>
			<li><a href="#" class="color-c">成都团购</a></li>
			<li><a href="#" class="color-c">广州团购</a></li>
			<li><a href="#" class="color-c">杭州团购</a></li>
			<li><a href="#" class="color-c">南京团购</a></li>
			<li><a href="#" class="color-c">宁波团购</a></li>
			<li><a href="#" class="color-c">上海团购</a></li>
			<li><a href="#" class="color-c">深圳团购</a></li>
			<li><a href="#" class="color-c">沈阳团购</a></li>
			<li><a href="#" class="color-c">武汉团购</a></li>
			<li><a href="#" class="color-c">天津团购</a></li>
			<li><a href="#" class="color-c">无锡团购</a></li>
			<li><a href="#" class="color-c">重庆团购</a></li>
			<li><a href="#" class="color-c">厦门团购</a></li>
			<li><a href="#" class="color-c">西安团购</a></li>
			<li><a href="#" class="color-c">济南团购</a></li>
			<li><a href="#" class="color-c">哈尔滨团购</a></li>
		</ul>
		<ul class="citys" style="display: none;">
			<li><a href="#" class="color-c">北京团购2 </a></li>
			<li><a href="#" class="color-c">成都团购2</a></li>
			<li><a href="#" class="color-c">广州团购2</a></li>
			<li><a href="#" class="color-c">杭州团购2</a></li>
			<li><a href="#" class="color-c">南京团购2</a></li>
			<li><a href="#" class="color-c">宁波团购2</a></li>
			<li><a href="#" class="color-c">上海团购2</a></li>
			<li><a href="#" class="color-c">深圳团购2</a></li>
			<li><a href="#" class="color-c">沈阳团购2</a></li>
			<li><a href="#" class="color-c">武汉团购2</a></li>
			<li><a href="#" class="color-c">天津团购2</a></li>
			<li><a href="#" class="color-c">无锡团购2</a></li>
			<li><a href="#" class="color-c">重庆团购2</a></li>
			<li><a href="#" class="color-c">厦门团购2</a></li>
			<li><a href="#" class="color-c">西安团购2</a></li>
			<li><a href="#" class="color-c">济南团购2</a></li>
			<li><a href="#" class="color-c">哈尔滨团购2</a></li>
		</ul>
	</div>
	<div class="foot_mid">
		<div class="text_center">
			<ul>
				<span>用户帮助</span>
				<li><a href="#" class="color-c">常见团购问题</a></li>
				<li><a href="#" class="color-c">开放API</a></li>
			</ul>
			<ul>
				<span>手机百度助手</span>
				<li><a href="#" class="color-c">百度糯米触屏版</a></li>
				<li><a href="#" class="color-c">下载手机版</a></li>
			</ul>
			<ul>
				<span>商务合作</span>
				<li><a href="#" class="color-c">友情链接</a></li>
				<li><a href="#" class="color-c">市场合作</a></li>
			</ul>
			<ul>
				<span>公司信息</span>
				<li><a href="#" class="color-c">关于百度糯米</a></li>
				<li><a href="#" class="color-c">百度糯米新浪微博</a></li>
				<li><a href="#" class="color-c">违规投诉&廉政举报</a></li>
			</ul>
			<ul>
				<span>4006-888-887</span>
				<li><a href="#" class="color-c">周一至周日 9:00-22:00</a></li>
				<li><a href="#" class="color-c">客服电话 免长途费</a></li>
				<li class="sjzx"><a href="#">手机专享优惠</a></li>
			</ul>
		</div>
	</div>
	<div class="text_center foot_bot">
		<p class="p1"><span>©2016 nuomi.com </span><span> 京ICP证030173号 </span><span>京公网安备11010802014106号</span><span>营业执照信息</span></p>
		<p><img src="img/index/tt.png"/></p>
		<p class="p2"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000001"><img src="img/index/p.png"/>&nbsp;京公网安备 11000002000001号</a></p>
	</div>
</footer>
<div class="aside_fr">
	<div class="af_left">
		<ul>
			<li><a href="#"><img src="img/index/yh.png"/></a></li>
			<li><a href="javascropt:void(0)" class="g_car_box"><img src="img/index/gwc.png"/><span class="g_car">购物车</span></a></li>
		</ul>
		<span class="f_top"><img src="img/index/top.png"/></span>
	</div>
	<div class="af_right">
		<!--<dl class="in_car">
			<dd><img src="img/index/a3.jpg" class="img_car"/></dd>
			<dd>
				<p class="car_title">卡奥啊换流阀胡刘哈利俩合</p>
				<p class="car_pirce">￥52.2</p>
			</dd>
		</dl>-->
	</div>
		
</div>

<script>
//选项卡
var st=document.getElementsByClassName('sorts');
var ct=document.getElementsByClassName('citys');
st[0].onclick=function(){
	st[0].className='sorts city';
	st[1].className='sorts';
	ct[0].style.display='block';
	ct[1].style.display='none';
	
};
st[1].onclick=function(){
	st[0].className='sorts';
	st[1].className='sorts city';
	ct[1].style.display='block';
	ct[0].style.display='none';
	
};
//图片懒加载
$(function(){
    $("img.custom").lazyload({
      	placeholder : "img/ICBCLoading.gif",
      	effect: "fadeIn",
      	threshold : 100
    });
});


//购物车
var k=true; //关闭
$('.g_car_box').click(function(){
	if(k){
		$('.aside_fr').animate({right:0+'px'});
		k=false;
	}else{
		$('.aside_fr').animate({right:-245+'px'});
		k=true;
	}
})

//获取商品信息
$('.shopping').click(function(){
	var g_img=$(this).parent().parent().siblings().children().attr('src');
	var g_title=$(this).parent().siblings("a").text();
	var g_price=$(this).siblings().text();
	$('.af_right').append('<dl class="in_car"><dd><img src="'+g_img+'" class="img_car"/></dd><dd><p class="car_title">'+g_title+'</p><p class="car_pirce">'+g_price+'</p></dd></dl>');
	addpaly(event);
})
//抛物线
function addpaly(event){
		//设置落脚点
		var offset = $(".g_car").offset();
		//console.log(offset);
		//获取当前点击js对象
		var _this = $(event.target);
		var src = _this.parent().parent().siblings().children().attr('src');
		//创建图片img
		var flyer = $('<img src="'+src+'" width="50" height="50" style="border-radius:50%;z-index:5555">')
		flyer.fly({
			start:{
				left:event.clientX,
				top:event.clientY
			},
			end:{
				left:offset.left,
				top:410,
				width:20,
				height:20
			},
			onEnd:function(){
				flyer.fadeOut("slow",function(){
					$(this).remove();
				})
			}
		
		})
	}


//top
var f_top=document.getElementsByClassName('f_top')[0];
f_top.onclick=function(){
var timer=setInterval(function(){
	if(scrollY>0){
		window.scrollTo(0,scrollY-50);
	}else{
		clearInterval(timer);
	}
},10)
	
}	
</script>	